.card {
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
  z-index: 2;
}

.card.flipped .card-content {
  transform: rotateY(180deg);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.question,
.answer {
  width: 100%;
  backface-visibility: hidden;
}

.answer {
  transform: rotateY(180deg);
}

.card.flipped .answer {
  display: block;
}

.card.flipped .question {
  display: none;
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
}

.answer {
  font-size: 18px;
  color: #555;
}
